@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
body {font-family: 'Open Sans', sans-serif;}
.table 
{
	background-color: grey;
	border: 3px solid red;
	border-spacing: 3px
}
.thead
{
	font-size: 15px;
	background-color: blue;
	color: white;
}