@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

body
{
	font-family: 'Open Sans', sans-serif;
}
.people-table
	{
		border: 2px solid red;
		background: yellow;
		border-spacing: 0
	}
.table-header
	 {
		background: darkgreen;font-weight: bold
	}

.table-body
	 {
		background: skyblue
	}
.table-tr
	{
		color:blue
	}